<h1>Participants</h1>

<div class= "add_new">
    <form action="/students" method=POST>
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
            <p>First Name</p>
            <input name="name">
            <p>Last Name</p>
            <input name="last_name">
            <p>Age</p>
            <input name="age">
            <p>Highest Education Level</p>
            <input name="education_level">
            <button>Submit</button>
    </form>
</div> 

<br>

 <table class="table">
 <thead>
    <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Age</th>
        <th>Highest Education Level</th>
    </tr>
    </thead>

    <tbody>
        <% @students.each do |student| %>
            <tr>
                <td><%= student.name %></td>
                <td><%= student.last_name %></td>
                <td><%= student.age %></td>
                <td><%= student.education_level %></td>
                <td><a href="/students/<%= student.id %>"> DELETE</a></td>
                <td><a href="/students/<%= student.id %>/edit"> EDIT</a></td>
            </tr>
        <% end %>    
    </tbody>
     
</table>

<a class="show_form">ADD NEW STUDENT</a>