<!DOCTYPE html>
<html>
  <head>
    <title>Twdp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id: 'headers'> 
      <h2>TWDP-RTC</h2>
    </div>
<hr>
    <a href='/'></a>
    <a href='/cohorts'>Cohorts</a>
    <a href='/courses'>Courses</a>
    <a href='/students'>Participants</a>
    <a href='/teachers'>Teachers</a>

<hr>

    

    <%= yield %>
  </body>
</html>
